@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,500);
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-size: 21px;
    background: white;
    color: #000;
    font-family: "Poppins", sans-serif;
}

/* I //////////////////////////// Page de confirmation de connexion //////////////////////////// I */
.connected {
    color: #88aacc;
    font-size: 1.5em;
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.border-blue {
    border: 3px solid #88aacc;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    gap: 5vh;
    box-shadow: -11px 11px 30px grey;
}

.accueil {
    color: #88aacc;
    text-decoration: none;
    border: 3px solid #88aacc;
    border-radius: 30px;
    padding: 10px;
}
.accueil:visited {
    color: #88aacc;
    text-decoration: none;
    border: 3px solid #88aacc;
}

.accueil:hover {
    color: white;
    border: 2px solid #88aacc;
    transition: all ease-in-out 350ms;
    box-shadow: -3px 3px 15px grey;
    background: linear-gradient(
        to top right,
        #595959 0%,
        #a0a0a0 15%,
        #88aacc 85%,
        white 100%
    );
}
/* I //////////////////////////// Show card //////////////////////////// I */
section.show {
    left: 8rem;
    border-radius: 15px;
    padding: 48px 48px 48px 48px;
    margin: 8rem 0px 0px 10em;
    width: 100vw;
    /* min-width: 640px; */
    color: white;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    position: relative;
    border: 3px solid #88aacc;
    box-shadow: -11px 11px 30px grey;
}

section.show .text-content h2 {
    margin: 0;
    color: #595959;
    transition: 0.5s;
}

section.show .text-content p {
    margin: 25px 0 24px;
    color: #595959;
}

section.show .text-content a {
    border: 3px solid #88aacc;
    color: #595959;
    align-self: flex-start;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 12px;
    transition: 400ms all;
}
section.show .text-content a:hover {
    border: 3px solid white;
    color: #61dafb;
    left: -20em;

    
}
section.show .visual {
    width: 20em;
    height: 30em;
    position: absolute;
    top: 0em;
    left: -22em;
    overflow: hidden;
    box-shadow: -20px 20px 10px grey;
}
section.show .visual img {
    height: 110%;
}
.editButton,
.destroyButton,
.noteButton {
    border: 3px solid #88aacc;
    color: #88aacc;
    background: white;
    align-self: flex-start;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 12px;
    transition: 400ms all;
    font-size: 21px;
}
.editButton:hover,
.destroyButton:hover,
.noteButton:hover {
    cursor: pointer;
    box-shadow: -3px 3px 15px grey;
    background: linear-gradient(
        to top right,
        #595959 0%,
        #a0a0a0 15%,
        #88aacc 85%,
        white 100%
    );
    color: white;
}
.noteInput {
    border: 3px solid #88aacc;
    color: #88aacc;
    background: white;
    align-self: flex-start;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 12px;
    transition: 400ms all;
    font-size: 21px;
}
.noteText {
    margin: 25px 0 24px;
    color: #595959;
    font-weight: normal;
}
.fa-solid {
    color: #88aacc;
}

.form {
    display: flex;
    gap: 2%;
}

/* I //////////////////////////// Index card ////////////////////////// I */

section.card {
    margin: 84px 0;
    align-items: center;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    position: relative;
}
section.card .text-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
section.card .text-content h2 {
    margin: 0;
    color: #747171;
    transition: 0.5s;
}

h3 {
    color: #747171;
}
section.card .text-content p {
    margin: 25px 0 24px;
    color: #747171;
}
section.card .text-content a {
    border: 3px solid #88aacc;
    color: #747171;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 12px;
    transition: 400ms all;
    margin-top: 1em;
}
section.card .text-content a:hover {
    cursor: pointer;
    box-shadow: -3px 3px 15px grey;
    background: linear-gradient(
        to top right,
        #595959 0%,
        #a0a0a0 15%,
        #88aacc 85%,
        white 100%
    );
    color: white;
}
section.card .visual {
    height: 25em;
    margin-bottom: 2em;
    box-shadow: -20px 20px 10px grey;
}
section.card .visual img {
    height: 110%;
}
article {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: calc(60vw + 248px); */
    max-width: calc(920px + 248px);
    min-width: calc(640px + 50px);
}
/* I //////////////////////////// Petits écrans ////////////////////////// I */

@media all and (max-width: 1550px) {
    body {
        font-size: 14px;
    }
    section.show .visual {
        width: 20em;
        height: 30em;
        position: absolute;
        top: -5em;
        left: -22em;
        overflow: hidden;
        box-shadow: -20px 20px 10px grey;
    }
}
@media all and (max-width: 1500px) {
    body {
        font-size: 16px;
    }
    section.show .visual {
        width: 20em;
        height: 30em;
        position: absolute;
        top: -3em;
        left: -22em;
        overflow: hidden;
        box-shadow: -20px 20px 10px grey;
    }
}



/* I //////////////////////////// Responsive ////////////////////////// I */

@media all and (min-width: 721px) and (max-width: 1100px) {
    .card {
        padding-top: 16vh!important;
    }
    section.card {
        margin: 64px 0;
        width: 100%;
        padding: 88px 36px 36px;
        flex-direction: column;
        border-radius: 24px;
    }
    section.card .text-content h3 {
        max-width: calc(100% - 150px);
        font-size: 1em;
    }
    section.card .text-content p,
    section.card .text-content a {
        font-size: 0.8em;
    }
    section.card .visual img {
        width: 100%;
        height: auto;
    }
    article{
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: calc(920px + 248px);
        min-width: 0px!important;
    }
    section.show {
        border-radius: 15px;
        padding: 48px 48px 48px 48px;
        margin: 16vh 0px 0px 0px!important;
        width: 95%;
        color: white;
        display: flex;
        position: unset;
        flex-direction: column;
        border: 3px solid #88aacc;
        box-shadow: -11px 11px 30px grey;
    }
    section.show .visual {
       display: none;
    }
    .parent {
        display: flex;
        flex-direction: column!important;
    }
}
@media all and (max-width: 720px) {
    .card {
        padding-top: 16vh!important;
    }
    section.card {
        margin: 64px 0;
        width: 100%;
        padding: 88px 36px 36px;
        flex-direction: column;
        border-radius: 24px;
    }
    section.card .text-content h3 {
        max-width: calc(100% - 150px);
        font-size: 1em;
    }
    section.card .text-content p,
    section.card .text-content a {
        font-size: 0.8em;
    }
    section.card .visual {
        width: 150px;
        height: 150px;
        right: 16px;
        left: auto;
        border-radius: 50%;
    }
    section.card .visual img {
        width: 100%;
        height: auto;
    }
    article{
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: calc(920px + 248px);
        min-width: 0px!important;
    }
    section.show {
        border-radius: 15px;
        padding: 48px 48px 48px 48px;
        margin: 16vh 0px 0px 0px!important;
        width: 95%;
        color: white;
        display: flex;
        position: unset;
        flex-direction: column;
        border: 3px solid #88aacc;
        box-shadow: -11px 11px 30px grey;
    }
    section.show .visual {
       display: none;
    }
}
@media all and (min-width: 721px) {
    .parent {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
    }
}
