@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,500);
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-size: 21px;
    background: white;
    color: #000;
    font-family: "Poppins", sans-serif;
}
.accueil {
    color: #88aacc;
}
.accueil:visited {
    color: #88aacc;
}

/* I //////////////////////////// Page de confirmation de connexion //////////////////////////// I */
.connected {
    color: #88aacc;
    font-size: 1.5em;
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.border-blue {
    border: 3px solid #88aacc;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    gap: 5vh;
    background: #595959;
}
/* I //////////////////////////// Show card //////////////////////////// I */
section.show {
    background: #595959;
    border-radius: 24px 24px 24px 48px;
    padding: 48px 48px 48px 308px;
    margin: 84px 0;
    min-width: 640px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    position: relative;
    border: 3px solid #88aacc;
}

section.show .text-content h2 {
    margin: 0;
    color: #88aacc;
    transition: 0.5s;
}

section.show .text-content p {
    margin: 25px 0 24px;
    color: #88aacc;
}
section.show .text-content a {
    border: 3px solid #88aacc;
    color: #88aacc;
    align-self: flex-start;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 12px;
    transition: 400ms all;
}
section.show .text-content a:hover {
    border: 3px solid white;
    color: #61dafb;
}
section.show .visual {
    width: 12em;
    height: 20em;
    position: absolute;
    top: -40px;
    left: 30px;
    overflow: hidden;
}
section.show .visual img {
    height: 110%;
}
.editButton,
.destroyButton {
    border: 3px solid #88aacc;
    color: #88aacc;
    background: #595959;
    align-self: flex-start;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 12px;
    transition: 400ms all;
    font-size: 21px;
}
.editButton:hover,
.destroyButton:hover {
    border: 3px solid white;
    color: #61dafb;
    cursor: pointer;
}
.fa-solid {
    color: #88aacc;
}

.form {
    display: flex;
    gap: 2%;
}

/* I //////////////////////////// Index card ////////////////////////// I */

section.card {
    margin: 84px 0;
    align-items: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    position: relative;
}
section.card .text-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
section.card .text-content h2 {
    margin: 0;
    color: #747171;
    transition: 0.5s;
}

h3 {
    color: #747171;
}
section.card .text-content p {
    margin: 25px 0 24px;
    color: #747171;
}
section.card .text-content a {
    border: 3px solid #747171;
    color: #747171;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 12px;
    transition: 400ms all;
    margin-top: 1em;
}
section.card .text-content a:hover {
    cursor: pointer;
    box-shadow: -10px 10px 10px grey;
}
section.card .visual {
    height: 30em;
    margin-bottom: 2em;
    box-shadow: -20px 20px 10px grey;
}
section.card .visual img {
    height: 110%;
}
article {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(60vw + 248px);
    max-width: calc(920px + 248px);
    min-width: calc(640px + 248px);
}

/* I //////////////////////////// Responsive ////////////////////////// I */

@media all and (min-width: 721px) and (max-width: 1100px) {
    article {
        width: 100%;
        min-width: 100%;
    }
    section.card {
        margin-top: 16vh;
        min-width: 90%;
    }
    section.card .text-content {
        width: 100%;
    }
}
@media all and (max-width: 720px) {
    section.card {
        margin: 64px 0;
        padding: 88px 36px 36px;
        flex-direction: column;
        border-radius: 24px;
    }
    section.card .text-content h3 {
        max-width: calc(100% - 150px);
        font-size: 1em;
    }
    section.card .text-content p,
    section.card .text-content a {
        font-size: 0.8em;
    }
    section.card .visual {
        width: 150px;
        height: 150px;
        right: 16px;
        left: auto;
        border-radius: 50%;
    }
    section.card .visual img {
        width: 100%;
        height: auto;
    }
}
@media all and (min-width: 721px) {
    .parent {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
    }
    
}