/* * {
    background-color: #ccc;
} */
.card{
   
    padding-top: 5vh;
}

input {
    border-color: #88AACC!important;
}

select {
    border-color: #88AACC!important;
}

textarea {
    border-color: #88AACC!important;
}

.inpcreate {
    color:#595959;

}
/* Styles pour le formulaire */
.my-form {
    background-color: #595959;
    width: 50%; /* Largeur du formulaire */
    margin: auto; /* Centrage horizontal */
    padding: 4vh; /* Espacement interne */
    border: 1px solid #595959; /* Bordure */
    border-radius: 8px; /* Coins arrondis */
}

/* Styles pour les groupes de formulaire */
.form-group {
    margin-bottom: 15px; /* Espacement entre les groupes de formulaire */
}

/* Styles pour les étiquettes des champs */
label {
    font-weight: bold;
    color:#88AACC;
}

/* Styles pour les champs de saisie et les sélecteurs */
.form-control {
    width: 100%; /* Largeur du champ de saisie */
    padding: 8px; /* Espacement interne */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 5px; /* Coins arrondis */
}

/* Styles pour le bouton de soumission */
.btn {
    padding: 10px 20px; /* Espacement interne */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointer */
}

.btn-primary {
    background-color: #88AACC; /* Couleur de fond pour le bouton primaire */
    color: white; /* Couleur du texte */
}

/* Survol du bouton */
.btn:hover {
    color: #595959;

}
