/*-----------LOGIN ET REGISTER------------*/

body {
    margin-top: 5em!important;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #88aacc;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logo,
.login {
    display: flex;
    justify-content: center;
}

/*Couleur de fond de la card login*/
body div.login div {
    background-color: #ffffff;
}

/* Couleur des textes*/
label {
    color: #88aacc!important;
}
/* Couleur dans l'input*/
#email,
#password,
#firstname,
#lastname,
#password_confirmation {
    background-color: #ffffff;
    border-color: #88aacc;
    color: #88aacc;
}

/*Couleur checkbox*/
#remember_me {
    background-color: #88aacc;
}

/* Couleur du bouton login */
body div.login div form div.flex.items-center.justify-end.mt-4 button {
    border-color: #88aacc;
    color: #88aacc;
    background-color: #ffffff;
}

body div.login div form div.flex.items-center.justify-end.mt-4 button:hover {
    color: white;
    border: 2px solid #88aacc;
    transition: all ease-in-out 350ms;
    box-shadow: -3px 3px 15px grey;
    background: linear-gradient(
    to top right,
    #595959 0%,
    #a0a0a0 15%,
    #88aacc 85%,
    white 100%
  );
}
